<div class="check-flight">
  <!-- TO DO mat-form-field with destination -->
  <!-- <div class="destination">
    <mat-form-field appearance="fill">
      <mat-label>Skąd?</mat-label>
      <mat-select>
        <mat-option value="destinationFrom">Option</mat-option>
      </mat-select>
      <mat-hint align="end"></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Dokąd?</mat-label>
      <mat-select>
        <mat-option value="destinationTo">Option</mat-option>
      </mat-select>
      <mat-hint align="end"></mat-hint>
    </mat-form-field>
  </div> -->

  <div class="date">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Data wylotu</mat-label>
      <mat-date-range-input
        [formGroup]="checkFlightOne"
        [rangePicker]="checkFlightOnePicker"
        [comparisonStart]="checkFlightTwo.value.start"
        [comparisonEnd]="checkFlightTwo.value.end">
        <input matStartDate placeholder="Start date" formControlName="start">
        <input matEndDate placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="checkFlightOnePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #checkFlightOnePicker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Data powrotu</mat-label>
      <mat-date-range-input
        [formGroup]="checkFlightTwo"
        [rangePicker]="checkFlightTwoPicker"
        [comparisonStart]="checkFlightOne.value.start"
        [comparisonEnd]="checkFlightOne.value.end">
        <input matStartDate placeholder="Start date" formControlName="start">
        <input matEndDate placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="checkFlightTwoPicker"></mat-datepicker-toggle>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-date-range-picker #checkFlightTwoPicker></mat-date-range-picker>
    </mat-form-field>
  </div>


  <!-- <button mat-button (click)="openDialog()">Open dialog</button> --> -->
</div>
